@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light gray text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    text-align: center;
    background-color: #1F1F1F; /* Darker form background */
    color: #E0E0E0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Deeper shadow */
    max-width: 400px;
    margin: 20vh auto auto;
}

.sib-form-container {
    background-color: transparent;
    color: #E0E0E0;
}

#sib-form {
    padding: 0 0 15px;
}

input[type="text"]::placeholder {
    color: #9E9E9E; /* Light gray for placeholder text */
}

input[type="text"],
button {
    padding: 12px;
    border: 2px solid transparent;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    height: 50px;
    background-color: #2C2C2C; /* Dark input fields */
    color: #ffffff; /* White text */
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

button {
    background: linear-gradient(135deg, #FF5722, #FF9800); /* Vibrant orange gradient */
    color: #ffffff;
    padding: 12px;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Soft shadow */
}



.affiliate-disclosure {
    font-size: 0.73em;
    color: #666666; /* Light gray for disclosure */
    text-align: center;
    padding: 5px 0;
}

.form-step h1 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 0;
    color: #FFFFFF; /* White for headings */
}

/*input[type="text"].error::placeholder {
    opacity: 1;
}

input[type="text"].success::placeholder {
    color: #66BB6A;
    opacity: 1;
}
*/
@media (max-width: 500px) {
    .form-container {
        max-width: 100%;
        margin-left: 3.5%;
        margin-right: 3.5%;
        padding: 5.5% 6.5%;
    }

    .form-step h1 {
        font-size: 1.25em;
    }
}
